# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.idea

# idea
out
*.ipr
*.iws
*.iml

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

workspace.xml

**/allmusic/client/player/
**/allmusic/client/player/decoder/mp3/
**/allmusic/client/hud/
**/allmusic/client/player/decoder/

# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/

# java

hs_err_*.log
replay_*.log
*.hprof
*.jfr
